/*1. Global*/
/*2. Elements*/
/*3. Classes*/
/*4. Functional*/
/*4. Responsive*/


/*1. Global*/
body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}


/*2. Elements*/

p {
    font-weight: 500;
    font-size: 16px;
    opacity: .5;
    color: hsl(223, 47%, 23%);
}

h2 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-bottom: 0px;
}



/*3. Classes*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    height: 600px;
    width: 420px;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 30%;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    text-align: center;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 30px;
    
}

.plan-selection {
    display: flex;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    justify-content: space-between;
    background-position: left;
    align-items: center;
    padding: 20px;
    
    
}

.plan-details {
    display: flex;
    flex-direction: column;
    background-image: url(images/icon-music.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 60px;
    overflow: visible;
}

.plan-type {
    opacity: 1;
}

.plan-details p {
    margin: 0px;
}

.plan-selection a {
    color: hsl(245, 75%, 52%);
    font-size: 12px;
    font-weight: 700;
}

.plan-selection a:active {
    opacity: .75;
}

.payment {
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 10px 15px 5px hsl(225, 100%, 90%);
    border-radius: 15px;
    width: 100%;
    color: white;
    padding: 10px 0px;
    line-height: 2;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    margin: 20px 0px;
}


.cancel a {
    text-decoration: none;
    opacity: .5;
    font-size: 14px;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.cancel a:active {
    opacity: 1;
}

/*4. Functional*/

button {
    all: unset;
    cursor: pointer;
}

button:active {
    background-color: hsl(245, 75%, 52%);
    opacity: .75;
}


/*5. Responsive */
@media screen and (max-width:500px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        background-size: cover;
    }
    
    .card {
        width: 350px;
        height: 600;
    }
}